.header {    
    position: relative;
    height: 6.5vw;
    color: $blue1;
    font-family: 'Ultra', serif;    
    
    h1 {
        position: absolute;
        top: 4.2vw;
        padding-left: 5rem;
        font-size: 3vw;        
        &::before {
            content: "";            
            position: absolute;
            width: 100px;
            height: 1.5rem;           
            left: -2rem;    
            top: 1.8vw;
            border-top: .8vw solid $blue1;
        }
    }
}

@media (orientation: portrait){
    .header {
        height: 6vh;        
        h1 {
            top: 1.8vh;
            font-size: 1.5rem;
            padding-left: .5rem;
            &::before{
                display: none;
            }
        }
    } 
}