/*
#c0c1c4
#ddd

#f8f5ec
rgb(172, 156, 156)
#aecec8
#222c3f

#286374
*/
.findsimilar {
  display: block;
  background-color: #065065;
  width: 14vw;
  padding-bottom: 2px;
  position: fixed;
  border-radius: 4px;
  box-shadow: 0 0 8px black;
  right: 0;
  top: .8vh;
  z-index: 10; }
  .findsimilar__miniPosters {
    display: flex;
    justify-content: space-around;
    align-content: space-between; }
    .findsimilar__miniPosters div {
      min-width: 5vw;
      height: 7.7vw;
      background-color: #053d4d;
      margin-bottom: 0.5rem; }
      .findsimilar__miniPosters div img {
        height: 7.7vw; }
  .findsimilar__paragraph {
    font-size: 1.2vw;
    text-align: center; }
    .findsimilar__paragraph--dots {
      top: 20px;
      font-size: 2vw;
      margin-top: .5vw; }
  .findsimilar__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .findsimilar__buttons button {
      min-width: 45%;
      margin: 2px;
      margin-top: 0; }

@media (orientation: portrait) {
  .findsimilar {
    top: -.5vh;
    position: relative;
    width: 100%;
    box-shadow: none;
    border-radius: none; } }
